<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'automiam.site_title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/bootstrap.css'
                'css/main.css'
                'css/select2.css'
                'css/bootstrap-datepicker.css'
                filter='cssrewrite,?yui_css'
                output='css/compiled/all.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% include "::navbar.html.twig" %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
                'js/jquery-2.1.4.min.js'
                'js/bootstrap.js'
                'js/select2.full.js'
                'js/bootstrap-datepicker.js'
                'locales/bootstrap-datepicker.fr.min.js'
                'js/main.js'
                filter='?yui_js'
                output='js/compiled/all.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
